h1{
    text-align: center;
}
#p1{
border: 3px solid Gray; 
}
#div1{
background-color: crimson;
}
body{
background-image: url("https://img.freepik.com/free-vector/wild-desert-landscape-daytime-scene_1308-50629.jpg?w=2000");
background-repeat: no-repeat;
background-position: top;
margin-bottom: 10px;
background-size: 20%;
background-attachment: fixed;
}
#p2{
    border-style: dotted;
}